<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Practice1>
			<version>0.0.1</version>
		</Ccc_Practice1>
	</modules>
	<admin>
		<routers>
			<practice1>
				<use>admin</use>
				<args>
					<module>Ccc_Practice1</module>
					<frontName>Pactice1</frontName>
				</args>
			</practice1>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<practice1>
				<title>Practice 1</title>
				<sort_order>71</sort_order>
				<children>
					<items>
						<title>Manage Module</title>
						<sort_order>0</sort_order>
						<action>practice1/adminhtml_practice1</action>
					</items>
				</children>
			</practice1>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<practice1>
						<children>
							<title>Manage Module</title>
							<sort_order>200</sort_order>
						</children>
					</practice1>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<practice1>
					<file>practice1.xml</file>
				</practice1>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<ccc_practice1>
				<class>Ccc_Practice1_Model</class>
				<resourceModel>ccc_practice1_resource</resourceModel>
			</ccc_practice1>
			<ccc_practice1_resource>
				<class>Ccc_Practice1_Model_Resource</class>
				<entities>
					<data>
						<table>ccc_practice1_data</table>
					</data>
				</entities>
			</ccc_practice1_resource>
		</models>
		<resources>
			<practice1_setup>
				<setup>
					<module>Ccc_Practice1</module>
				</setup>
			</practice1_setup>
		</resources>
		<blocks>
			<ccc_practice1>
				<class>Ccc_Practice1_Block</class>
			</ccc_practice1>
		</blocks>
		<helpers>
			<ccc_practice1>
				<class>Ccc_Practice_Helper</class>
			</ccc_practice1>
		</helpers>
	</global>
</config>