<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Practice>
			<version>0.0.2</version>
		</Ccc_Practice>
	</modules>
	<admin>
		<routers>
			<practice>
				<use>admin</use>
				<args>
					<module>Ccc_Practice</module>
					<frontName>Practice</frontName>
				</args>
			</practice>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<practice>
				<title>Practice</title>
				<sort_order>71</sort_order>
				<children>
					<items>
						<title>Manage Module</title>
						<sort_order>0</sort_order>
						<action>practice/adminhtml_practice</action>
					</items>
				</children>
			</practice>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ccc_practice>
							<title>Manage Module</title>
							<sort_order>200</sort_order>
						</ccc_practice>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<practice>
					<file>practice.xml</file>
				</practice>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<ccc_practice>
				<class>Ccc_Practice_Model</class>
				<resourceModel>ccc_practice_resource</resourceModel>
			</ccc_practice>
			<ccc_practice_resource>
				<class>Ccc_Practice_Model_resource</class>
				<entities>
					<data>
						<table>ccc_practice_data</table>
					</data>
				</entities>
			</ccc_practice_resource>
		</models>
		<resources>
			<practice_setup>
				<setup>
					<module>Ccc_Practice</module>
				</setup>
			</practice_setup>
		</resources>
		<blocks>
			<ccc_practice>
				<class>Ccc_Practice_Block</class>
			</ccc_practice>
		</blocks>
		<helpers>
			<ccc_practice>
				<class>Ccc_Practice_Helper</class>
			</ccc_practice>
		</helpers>
	</global>

</config>